<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.bala.dagger">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.android.bala.dagger.application.SocialApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar">

        <activity android:name="com.android.bala.dagger.ui.splashscreen.SplashScreenActivity"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.android.bala.dagger.ui.homescreen.HomeActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.commentscreen.CommentsActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.photoscreen.PhotosActivity"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>